html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-column {
    width: 40%;
    height: 100%;
    word-break: break-word;
    border-right: 1pt solid black;
    overflow-y: scroll;
}

.right-column {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

#file-list-title {
    margin: 10px;
}

.entry {
    margin-left: -10px;
    font-size: 10pt;
}

#file-content-pre {
    margin: 10px;
}
